<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button menu="first">
      </ion-menu-button>
      </ion-buttons>
    <ion-title>ร้านอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12" size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ loadedRestaurants[0].name }}</ion-card-title>
          </ion-card-header>
          <ion-img [src]="loadedRestaurants[0].imageUrl"></ion-img>
        
          <ion-card-content>
            {{ loadedRestaurants[0].address }}
          </ion-card-content>
          <div class="ion-padding">
            <ion-button fill="clear" [routerLink]="['/','restaurant','tabs','find', loadedRestaurants[0].id]">เพิ่มเติม</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <ion-list>


          <ion-item detail 
            *ngFor="let restaurant of loadedRestaurants.slice(1)"
            [routerLink]="['/','restaurant','tabs','find',restaurant.id]">
            <ion-thumbnail slot="start">
              <img [src]="restaurant.imageUrl">
            </ion-thumbnail>
            {{ restaurant.name }}
          </ion-item>


          


        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
