<ion-header>
  <ion-toolbar>
    <ion-title>สำรองโต๊ะ</ion-title>
    <ion-buttons slot="primary">
      <ion-icon name="close-outline" slot="icon-only" (click)="onCancel()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="doneReserve()">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label>วัน-เวลา:</ion-label>
          <ion-datetime 
            name="reservation_datetime"
            displayFormat="D MMM YYYY HH:mm"
            ngModel
            required
            value=""
            [min]="getMinYear()"
            [max]="getMinYear()+1"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
  <div class="ion-text-center ion-margin-top">
    <ion-button
      [disabled]="!form.valid || !checkValid()"
    >ยืนยัน</ion-button>
  </div>
</ion-content>